$mobile: "screen and (max-width: 1100px)";
$desktop: "screen and (min-width: 1101px)";

.navigation-bar {
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    @media #{$mobile} {
        justify-content: space-evenly;
    }
    color: rgba(255, 255, 255, 0.8);
    min-height: 6rem;
    @media #{$mobile} {
        position:fixed;
        bottom:0;
        left:0;
        right:0;
        z-index:1000;
        background-color: black;
    }
    svg {
        padding: 1rem;
        margin: 0.5rem;
        border: 0.2rem solid rgba(255, 255, 255, 0.514);
        background-color: rgba(0, 0, 0, 0.3);

        &.nav-active {
            background-color: rgba(0, 0, 0, 0.8);
        }

        &:hover {
            cursor: pointer;
            background-color: rgba(0, 0, 0, 0.8);
            color: rgba(255, 255, 255, 1);
        }
    }
}